# Auto detect text files and perform LF normalization
* text=auto
D:/VasuPatel/GUI[[:space:]]and[[:space:]]Packages/Unity_Packages/Final[[:space:]]IK[[:space:]]v1.8 filter=lfs diff=lfs merge=lfs -text
Final[[:space:]]IK[[:space:]]v1.8.unitypackage filter=lfs diff=lfs merge=lfs -text
UI[[:space:]]Kit[[:space:]]Pro[[:space:]]-[[:space:]]Casual[[:space:]]Glossy.rar filter=lfs diff=lfs merge=lfs -text
